<div class="home-page">
    <div class="home-page__lg home-page__box" data-bg="Lagoa">
        {{ render '@card' card-val }}
    </div>

    <div class="home-page__md home-page__box" data-bg="Venice">
        {{ render '@card' card-venice}}
    </div>

    <div class="home-page__sm home-page__box" data-bg="Berlin">
        {{ render '@card' card-berlim}}
    </div>

    <div class="home-page__sm home-page__box" data-bg="Barcelona">
        {{ render '@card' card-barcelona}}
    </div>

    <div class="home-page__sm home-page__box" data-bg="Amsterdam">
        {{ render '@card' card-amsterdam}}
    </div>

    <div class="home-page__sm home-page__box" data-bg="Paris">
        {{ render '@card' card-paris}}
    </div>

    <div class="home-page__md home-page__box" data-bg="London">
        {{ render '@card' card-london}}
    </div>
</div>